body {
  display: grid;
  margin: 10px;
  padding: 20px;
  background-color: lightblue;
  border: solid purple;
}

/* header {
  border: solid red;
} */

footer{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
