*{font-family: Verdana, Helvetica, sans-serif;}

body{
  display: flex;
  flex-flow: row wrap;
  margin: 100px auto;
  justify-content: center;
}

h1{
  position: absolute;
  margin-top: -55px;
}
.edit-div {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin-top: 50px;
}
.edit-div > .div1 {
  background-image: url("../img/malaysiablueyellow.jpg");
  width: 33%;
  width: 500px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

.edit-div > .div3 {
  background-image: url("../img/malaysiaangel.jpg");
  width: 33%;
  width: 500px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

h4{
  margin-top: 15px;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .edit-div > .div2{
    margin-top: -100px;
  }
}
@media screen and (max-width: 400px) {
  .edit-div > .div2{
    margin-top: -200px;
  }
}
