*{font-family: Verdana, Helvetica, sans-serif;}

body{
  display: flex;
  flex-flow: row wrap;
  margin: 100px auto;
  justify-content: center;
}

h1{
  position: absolute;
  margin-top: -55px;
}

.div1 {
  background-image: url("../img/malaysiablueyellow.jpg");
  width: 33%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

.div2{
  width 33%;
}

.div3 {
  background-image: url("../img/malaysiaangel.jpg");
  width: 33%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

h4{
  margin-top: 15px;
  margin-bottom: 5px;
}

#deleteBut {

}
