*{font-family: Verdana, Helvetica, sans-serif;}

body {
  display: flex;
  flex-flow: row wrap;
  margin: 100px auto;
  justify-content: center;
}

#new-backLink {
  margin-top: -90px;
  box-shadow: inset 0 0 1000px 0 #333;
  padding-top: 10px;
  color: white;
  text-decoration: none;
  width: 60px;
  height: 20px;
  text-align: center;
}

h1 {
  position: absolute;
  margin-top: -55px;
}

.new-div {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin-top: 50px;
}

.new-div > .div1 {
  background-image: url("../img/malaysiaturtle.jpg");
  width: 500px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

 .new-div > .div2{
  padding: 25px;
  align-content: center;
  margin-top: -50px;
}

.new-div > .div3 {
  background-image: url("../img/malaysiabumphead.jpg");
  width: 33%;
  width: 500px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

h4 {
  margin-bottom: 2px;
  margin-top: 10px;
}

#submit {
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  #new-backLink {
    margin-left: 20px;
    margin-top: -140px;
  }
  .new-div {
    flex-direction: column;
    }
  .new-div > .div1{
    margin-top: 100px;
    width: 320px;

  }
  .new-div > .div2{
    margin-top: -200px;
    margin-left: 60px;
  }
  .new-div > .div3{
    width: 320px;
  }
  h1{
    margin-left: 30px;
  }
}
