*{font-family: Verdana, Helvetica, sans-serif;}

.showDiv {
color: #ffffff;
/* background-color: #FF69B4; */
background-color: #DDA0DD;
box-shadow: inset 0 0 1000px 0 #333;
text-align: center;
margin: 20px auto;
width: 30%;
padding: 15px;
border: solid yellow;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}

.cartLink {
  box-shadow: inset 0 0 1000px 0 #333;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  align-self: center;
}

#backLink {
  box-shadow: inset 0 0 1000px 0 #333;
  padding: 10px;
  color: white;
  text-decoration: none;
  width: 60px;
  font-size: 15px;
}

.editTag{
  font-size: 10px;
}

.nameP {
  font-weight: bolder;
  font-size: 30px;
  color: black;
}

p {
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}



#imgTag {
  width: 300px;
}

#buy{
  /* box-shadow: inset 0 0 1000px 0 #333; */
  background: #8B008B;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}
