.showDiv {
color: #ffffff;
background-color: #FF69B4;
text-align: center;
margin: 20px auto;
width: 30%;
padding: 15px;
border: solid yellow;
}

nav {
  text-align: left;
  margin-left: 0px;
}
.editTag{

}

.nameP {
  font-weight: bolder;
  font-size: 35px;
  color: black;
}

p {
  font-size: 22px;
}

#backLink {

}

#commentLink {
  padding-left: 300px;
}

#imgTag {
  width: 200px;
}
