*{font-family: Verdana, Helvetica, sans-serif;}

.showDiv {
  color: #ffffff;
  background-color: #DDA0DD;
  box-shadow: inset 0 0 1000px 0 #333;
  text-align: center;
  margin: 5px auto;
  width: 27%;
  padding: 15px;
  border: solid yellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 27%;
  position: absolute;
}

.cartLink {
  box-shadow: inset 0 0 1000px 0 #333;
  padding: 10px;
  color: white;
  text-decoration: none;
  align-self: center;
  font-size: .8vw;
}

#backLink {
  box-shadow: inset 0 0 1000px 0 #333;
  padding: 10px;
  color: white;
  text-decoration: none;
  width: 60px;
  font-size: .8vw;
}

.nameP {
  font-weight: bolder;
  color: black;
  font-size: 1.5vw;
  margin-top: 50px;
}

p {
  width: 300px;
  font-size: 1vw;
  margin: 0 auto;
  padding: 10px;
}

#imgTag {
  width: 55%;
}

  #buy{
  background: #8B008B;
  padding: 10px 100px 10px 100px;
  color: white;
  margin: 0 auto;
  width: 73%;
  /* max-width: 230px; */
}

.editTag{
  font-size: 10px;
}
